.ServiceNameBody{
    margin-top: 50px;
    margin-bottom: 50px;
}
.ServiceNameBody h3{
    font-size: 20px;
    font-weight: bold;
    color: #0C8938;
    margin-top: 20px;
    margin-bottom: 20px;
}
.ServiceNameBody p{
    color: #707070;
    font-size: 15px;
    line-height: 35px;
}