.our-services .title{
    text-align: center;
    padding: 25px 15px;
    border: 1px solid #ede5e5;
    border-radius: 50%;
    display: inline-flex;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    margin-bottom: 50px;
    margin-top: 50px;
}
.our-services .title h2 {
    font-size: 25px;
    color: #473900;
    font-weight: bold;
}
.our-services .title h2::after{
    position: absolute;
    content: '';
    width: 22px;
    height: 3px;
    border-radius: 15px;
    background-color: #0C8938;
    bottom: 25px;
    left: 37px;
}
.swiper {
    width: 100%;
    min-height: 350px;
}
.swiper-slide {
text-align: center;
font-size: 18px;

display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
flex-direction: column;
-webkit-box-pack: center;
-ms-flex-pack: center;
-webkit-justify-content: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
-webkit-align-items: center;
align-items: center;
}

.swiper-slide img {
display: block;
width: min-content;
height: 100%;
object-fit: cover;
}
.swiper-button-prev {
    left: 45%;
    right: auto;
    margin-top: 120px;
}
.swiper-button-next {
    right: 45%;
    left: auto;
    margin-top: 120px;
}
/* .swiper-button-next:active,.swiper-button-next:focus {
    background-color: #0C8938;
    color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 17px;
    font-size: 17px;
}
.swiper-button-next:disabled{
    font-size: 17px;
    color: #0C8938;
} */
.swiper-button-next:after, .swiper-button-prev:after {
    font-size: 17px;
    color: #fff;
    background-color: #0C8938;
    padding: 15px;
    border-radius: 50%;
}
@media only screen and (max-width: 992px) {
    .swiper-button-next , .swiper-button-prev{
        display: none;
    }
}
