.App {
  font-family: Fairuz-Normal;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face{
  font-family: Fairuz-Normal;
  src: local("Fairuz-Normal"), url("./fonts/Fairuz-Normal.otf") format("otf");
}